*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle/
.idea/*
keystore.jks
app/build
app/release
app/proguard-rules.pro
app/app-release.apk
